body {
  min-width: 972px;
  min-height: 494px;
  font-family: 'Noto Sans', sans-serif;
}

/*****Navbar*****/
nav {
  height: 44px;
  display: flex;
  justify-content: space-between;
}

nav div {
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 10px;
  text-decoration: none;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.774);
}

.nav-link:hover {
  text-decoration: underline;
}

.material-icons.md-darkgray {
  color: rgba(0, 0, 0, 0.6);
}

#apps {
  margin-top: 6px;
  margin-right: 10px;
  padding: 0 8px;
  text-decoration: none;
}

#signin {
  margin-right: 18px;
  padding: 6px 12px;
  text-decoration: none;
  color: white;
  background-color: rgb(57, 130, 238);
  font-size: 13px;
  font-weight: 900;
}

#signin:hover {
  cursor: default;
}

/*****Main*****/
main {
  margin-top: 112px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*****Logo*****/

/*****Search bar*****/
#search-div {
  margin: 10px 0 20px 0;
  width: 480px;
  height: 44px;
  border-radius: 40px;
  border: solid 1px;
  border-color: rgb(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-div:hover {
  box-shadow: 0 1px 8px 1px rgb(0, 0, 0, 0.1);
}

#search-div:focus-within {
  box-shadow: 0 1px 8px 1px rgb(0, 0, 0, 0.1);
}

#search {
  margin: auto 6px auto 16px;
}

#search:hover {
  cursor: default;
}

.material-icons.md-20 {
  font-size: 20px;
}

.material-icons.md-gray {
  color: rgba(0, 0, 0, 0.4);
}

#search-bar {
  margin: auto 16px auto 6px;
  padding: 8px 0 8px 0;
  width: 410px;
  height: 16px;
  border: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

#search-bar:focus-visible {
  outline: 0;
}

/*****Search buttons*****/
#buttons {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.button {
  margin: 2px 6px;
  padding: 8px 14px;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  color: rgb(90, 90, 90);
  background-color: rgb(243, 243, 243);
}

.button:hover {
  margin: 0 5px;
  border: solid 1px;
  border-color: rgb(180, 180, 180);
  color: black;
  cursor: pointer;
}

/*****Footer*****/
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.055);
  display: flex;
  justify-content: space-between;
}

footer div {
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.foot-link {
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.63);
}

.foot-link:hover {
  text-decoration: underline;
}
